body
{
	margin:0;
	padding:0;
}
#container
{
	width:98%;
	height:auto;
	border:1px solid black;
	margin:auto;
	margin-top:.5%;
}
#container #header
{
	width:100%;
	height:146px;
	border:1px solid black;
	
}
#container #header #logo
{
	width:20%;
	height:100%;
	border:1px solid black;
	float:left;
	background-color:#F44336;
}

#container #header #banner
{
	width:59.5%;
	height:100%;
	border:1px solid black;
	float:left;
}
#container #header #right-header
{
	width:20%;
	height:100%;
	border:1px solid black;
	float:left;
}
#container #menu
{
	width:100%;
	height:30px;
	margin-top:1px;
}
#container #menu ul
{
	margin:0;
	padding:0;
}
#container #menu ul li
{

	border:1px solid white;
	width:16.5%;
	height:35px;
	float:left;
	list-style:none;
	text-align:center;
	line-height:35px;
	border-radius:10px;
	
}
#container #menu ul li a
{
	background-color:#F44336;
	color:white;
	text-decoration:none;
	font-size:20px;
	display:block;
}
#container #menu ul li a:hover
{
	background-color:black;
	color:red;
}

#container #content
{
	width:100%;
	height:450px;
	border:1px solid black;
	margin-top:10px;
	background-color:white;
}

#container #content #center-content ul
{
	margin:0;
	padding:0;
    margin-top:50px;
}

#container #content #center-content ul li
{
	background-color:#F44336;
	border:1px solid white;
	width:350px;
	height:50px;
	margin-top:30px;
	list-style:none;
	text-align:center;
	line-height:50px;
	border-radius:10px;
	border-color:black; 
	}
#container #content #center-content ul li a
{
	color:white;
	text-decoration:none;
	font-size:30px;
	display:block;
}
#container #content #center-content ul li a:hover
{
	background-color:white;
	color:black;
}
#container #content #left-content
{
	width:25%;
	height:100%;
	border:1px solid black;
	float:left;
}
#container #content #center-content
{
	width:49.5%;
	height:100%;
	border:1px solid black;
	float:left;
}
#container #content #right-content
{
	width:25%;
	height:100%;
	border:1px solid black;
	float:left;
}
